<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'gui_app/css/styles.css' %}">
    <title>Autonomous mode</title>
</head>
<body>
    <h1 class="title">Autonomous mode</h1>
    <form method="post">
        {% csrf_token %}    
        <div class="button-container">    
            <button type="submit" name="decision" value="back" class="back-button">Go back</button>
            <button type="submit" name="decision" value="complete" class="submit-button">Pack complete</button>
        </div>
    </form>
</body>
</html>